<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Defacto :: License Tracker</title>
	{% stylesheets '@DefactoLicenseBundle/Resources/public/css/*' filter='cssrewrite' %}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}" media="all">
	{% endstylesheets %}
	{% javascripts '@DefactoLicenseBundle/Resources/public/js/*' %}
		<script type="text/javascript" src="{{ asset_url }}"></script>
	{% endjavascripts %}
</head>
<body>

</body>
</html>