{% if computer is null %}
	<h1>Add a new computer</h1>
{% else %}
	<h1>Edit computer</h1>
{% endif %}

<form action="{{ path('computers_edit') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>